<center>
    <h1>All Teams</h1>
    <br> <br>

        <% @teams.each do |team| %>
        <br>
            <%= link_to team.full_name, team_path(team.id) %>
        <% end %>
        <br>
        <br>
        <br>
        <br>

</center>