<div class="container text-center">
    <h1>Player Forums</h1>
    <br><br>
    <br>
        <% @forums.each do |forum|  %>
        <%= link_to forum.player.full_name, player_path(forum.player.id) %>: <%= link_to forum.title, forum_path(forum.id) %>, by <%= link_to forum.author, user_path(forum.author.id) %> 
        <% end %>
    <br>
    <br>

</div>
