/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

//-------------------------
// we MAY need this for button formatting?

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

//-------------------------


.inner
{
   display: inline-block;
}
#outer {
  width:100%;
  text-align: center;
}


// h1 {
//     font-color: #fff;
// }

body {
    background-image: url("hardwood.jpg");
    background-size: 1800px;
    font-family: Helvetica, Geneva, Arial, sans-serif;
    font-size: medium;
    font-color: #fff;
    background-color: rgb(96, 231, 255)
}

a:link, a:active {
  color: rgb(233, 232, 157);
}

a:visited {
  color: rgb(170, 214, 207)
}
